
.styleAdd{
    background-color: green;
    width: 150px;
    height: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.styleAdd::placeholder {
    color: white;
  }

  .add-student-btn{
    display: block;
    margin-top: 5px;
  }