*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}

.header{
    position: relative;
    top: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    position: fixed;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
    position: relative;
    left: 250px;
    text-align: center;
    font-size: 8px;
    background-color: beige;
    width: 100%;
}

.table-container {
    position: relative;
    margin: 30px 10px 30px 10px;
    left: 250px;
    margin-top: 10px;
   
}
.table-Head , tr{
    background-color: green;
    color: white;
    border: 1px solid gray;
    line-height: 2;
}

.students-table,
tr,
th {
    border: 1px solid gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 2;
}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    position: fixed;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
